* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.banner{
    
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.col-2{
    width: calc(100%/12*2);
    height: 60%;
    border: 1px solid black;
}
.col-8{
    width: calc(100%/12*8);
    height: 60%;

    border: 1px solid black;
    
}
.main{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    
    height: 350px;
    width: 700px;
}

/*debug*/
.debug .banner{
    background-color: gray;

}
.debug .col-2{
    background-color: salmon;
}
.debug .col-8{
    background-color: salmon;
}
.debug .main{
    background-color: plum;
}
.debug .box{
    background-color: lightskyblue;
}



/*debug*/
