* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.banner {

    width: 80%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

section {
    height: 600px;
    display: flex;
    align-items: center;
   
}
big-section {
    height: 1000px;
    display: flex;
    align-items: center;
   
}


.container {
    width: 80%;
    max-width: 1170px;
    height: 500px;
    margin: auto;
    padding-top: 50px;
    
}

.container-2 {
    width: 80%;
    max-width: 1170px;
    height: 100%;
    margin: auto;
   
    
}

footer{
    background-color: rgb(36, 36, 187);
    margin-top: 50px;
}

.row {
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.rowb {
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.rows {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}



.col-2 {
    width: calc(100%/12*2);
    height: 60%;
    border: 1px solid black;
    padding-top: 40px;
}
.cols-2 {
    width: calc(100%/12*2);
    height: 60%;
    border: 1px solid black;
    padding-top: 40px;
}


.col-4 {
    width: calc(100%/12*4);
    height: 60%;
    border: 1px solid black;
    padding-top: 40px;
}

.col-8 {
    width: calc(100%/12*8);
    height: 60%;
    border: 1px solid black;
    padding-top: 40px;

}

.rowb .col-2{
    height: 80%;
}

.rowb .col-4{
    height: 80%;
}



.card {
    height: 80%;
    width: 80%;
    margin: auto;
}

.mainh {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {

    height: 350px;
    width: 700px;
}

/*debug*/
.debug .banner {
    background-color: gray;

}

.debug .container {
    background-color: orange;
}

.debug .container-2 {
    background-color: orange;
}


.debug .row {
    background-color: gray;
}
.debug .rowb {
    background-color: gray;
}
.debug .rows {
    background-color: rgb(73, 73, 73);
}


.debug .col-2 {
    background-color: salmon;
}
.debug .cols-2 {
    background-color: salmon;
}


.debug .col-4 {
    background-color: salmon;
}

.debug .col-8 {
    background-color: salmon;
}

.debug .mainh {
    background-color: plum;
}

.debug .box {
    background-color: lightskyblue;
}

.debug .card {
    background-color: aquamarine;
}



/*debug*/